<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida med Hash Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgba(219, 219, 219, 0.8)
        }
        .container {
            margin-top: 50px;
            max-width: 600px;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="text-center">
        <h1>Välkommen till PasswordCracker!</h1>
    </header>
    <main>
        <p></p>
        <p></p>
        
        <h2 class="text-center">Hash Generator</h2>
        <form th:action="@{/generate-hash}" method="post">
            <div class="form-group">
                <label for="inputText">Mata in lösenord:</label>
                <textarea class="form-control" id="inputText" name="inputText" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-block">Generera Hash</button>
        </form>

        <div th:if="${hashResult}">
            <h4 class="mt-4">Resultat:</h4>
            <p><strong>MD5:</strong> <span th:text="${hashResult.md5}"></span></p>
            <p><strong>SHA-256:</strong> <span th:text="${hashResult.sha256}"></span></p>
        </div>
        
        <div class="text-center mt-4">
            <a href="/search" class="btn btn-info">Sök Hash</a>
        </div>

        <a href="/logout" class="btn btn-outline-danger mt-4">Logga ut</a>
    </main>
    <footer class="text-center mt-4">
        <p>&copy; 2024 PasswordCracker. Alla rättigheter förbehållna.</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


